@font-face
	font-family: 'MinionPro'
	src: url('fonts/MinionPro-Regular/MinionPro-Regular.eot')
	src: url('fonts/MinionPro-Regular/MinionPro-Regular.woff') format('woff'), url('fonts/MinionPro-Regular/MinionPro-Regular.ttf') format('truetype'), url('fonts/MinionPro-Regular/MinionPro-Regular.svg') format('svg')
	font-weight: normal
	font-style: normal